body {
  background: rgba(47, 47, 47, 0.9);
  font-family: Verdana, Geneva, sans-serif;
  color: #fff;
}
body.menu-active #menu-btn span {
  background-color: transparent;
}
body.menu-active #menu-btn span:before {
  -webkit-transform: translateY(0) rotate(45deg) translateZ(0);
  transform: translateY(0) rotate(45deg) translateZ(0);
}
body.menu-active #menu-btn span:after {
  -webkit-transform: translateY(0) rotate(-45deg) translateZ(0);
  transform: translateY(0) rotate(-45deg) translateZ(0);
}
body.menu-active #menu-wrapper {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}
#menu-btn {
  right: 0;
  width: 60px;
  height: 47px;
  cursor: pointer;
  top: 5px;
  display: block;
  position: fixed;
  z-index: 100;
}
#menu-btn span {
  position: absolute;
  top: 50%;
  display: block;
  width: 23px;
  height: 3px;
  background: #fff;
  font-size: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  left: 50%;
  margin-left: -12px;
}
#menu-btn span:after,
#menu-btn span:before {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: '';
}
#menu-btn span:before {
  -webkit-transform: translateY(-298%) translateZ(0);
  transform: translateY(-298%) translateZ(0);
}
#menu-btn span:after {
  -webkit-transform: translateY(298%) translateZ(0);
  transform: translateY(298%) translateZ(0);
}
#menu-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  -webkit-transition: opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0.2s;
}
#menu-wrapper nav {
  text-align: center;
  position: relative;
  height: 100%;
  display: table;
  width: 100%;
}
#menu-wrapper nav ul {
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
#menu-wrapper nav ul li {
  list-style: none;
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0px;
  padding: 0px;
}
#menu-wrapper nav ul li a {
  font-size: 20px;
  font-weight: 400;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  outline: none;
  text-decoration: none;
  background: transparent;
  padding: 15px;
}
#menu-wrapper nav ul li a:hover {
  color: #00ffff;
}
