---
layout: default
route: index
fixed_navbar: true
---

<div class="container">
  {% include navbar.html id="Index" fixed=true has_container=true boxed=true %}
</div>

<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered">
      {% for post in site.posts %}
      <div class="column is-9">
        <a href="{{ post.url }}">
          <p class="title is-1 is-spaced has-text-dark" >
            {{ post.name }}
          </p>
        </a>
        <div class="subtitle is-6 has-text-grey-light">
          <span class="fa fa-sm fa-calendar"></span><em datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date: '%B %d, %Y' }}
          </em>
<br/>
          {% for category in post.categories %}
          <a class="has-text-grey-light is-capitalized" href="/category/{{ category }}">
            <span class="fa fa-sm fa-tag"></span><em>{{ category }}</em>
          </a>
          {% endfor %}
      </div>
      <br/>
        <div class="content">
          {{ post.content }}
        </div>
      <br/>
      <br/>
      <hr>
      <br/>
      <br/>
      </div>
      {% endfor %}
    </div>
  </div>
</section>