<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div id="share" class="content">
          <div id="social">
              <a href="{{ site.url }}/made-with-bulma/">
                <img src="/images/made-with-bulma-lq.png" data-src="/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
              </a>
            <a href="https://github.com/wjbeckett" class="github-btn" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></a>
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ site.title }}" data-url="{{ site.url }}" data-count="horizontal" data-via="wjbeckett" data-related="wjbeckett" data-size="large">Tweet</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="{{ site.url }}/vendor/clipboard-1.7.1.min.js"></script>
<script src="{{ site.url }}/lib/main.js"></script>
<script src="{{ site.url }}/lib/lazysizes.min.js"></script>

{% if page.route == 'index' %}
  <script type="text/javascript" src="{{ site.url }}/lib/index.js"></script>
{% endif %}
