<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="content">
            <span class="content">
              &copy; {{ 'now' | date: '%Y' }} <br/>
              William Beckett
            </span>
            <p>
            <a href="https://bulma.io">
              <img src="/images/made-with-bulma-lq.png" data-src="/images/made-with-bulma.png" alt="Made with Bulma" class="lazyload blur-up" width="128" height="24">
            </a>
            </p>
            <p>
            <a href="https://github.com/wjbeckett">
              <span class="icon has-text-primary">
                <i class="fa fa-lg fa-github"></i>
              </span>
            </a>
            <a href="https://twitter.com/share">
              <span class="icon has-text-primary">
                <i class="fa fa-lg fa-twitter"></i>
              </span>
            </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="{{ site.url }}/vendor/clipboard-1.7.1.min.js"></script>
<script src="{{ site.url }}/lib/main.js"></script>
<script src="{{ site.url }}/lib/lazysizes.min.js"></script>

{% if page.route == 'index' %}
  <script type="text/javascript" src="{{ site.url }}/lib/index.js"></script>
{% endif %}
