<footer class="footer">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column is-4 has-text-centered">
        <span class="content">
          <strong>&copy; {{ 'now' | date: '%Y' }} </strong> William Beckett
        </span>
        <br/>
        <br/>
        <a href="https://bulma.io">
          <img src="/images/made-with-bulma--semiblack-lq.png" data-src="/images/made-with-bulma--semiblack.png" alt="Made with Bulma" class="lazyload blur-up" width="128" height="24">
        </a>
      </div>
      <div class="column is-4 has-text-centered">
        <p>Made with <span>❤️</span> by <a class="has-text-weight-bold" href="{{ siteurl }}\about">me</a></p>
      </div>
      <div class="column is-4 has-text-centered">
        <a href="https://github.com/wjbeckett">
          <span class="icon is-medium has-text-primary">
            <i class="fa fa-2x fa-github"></i>
          </span>
        </a>
        <a href="https://twitter.com/wjbeckett">
          <span class="icon is-medium has-text-primary">
            <i class="fa fa-2x fa-twitter"></i>
          </span>
        </a>
      </div> 
    </div>
  </div>
  </div>
</footer>

<script src="{{ site.url }}/vendor/clipboard-1.7.1.min.js"></script>
<script src="{{ site.url }}/lib/lazysizes.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ site.url }}/lib/main.js"></script>
<script src="{{ site.url }}/lib/notification.js"></script>


{% if page.route == 'index' %}
  <script type="text/javascript" src="{{ site.url }}/lib/index.js"></script>
{% endif %}
