<nav id="navbar" class="navbar is-fixed-top">
  <div id="specialShadow" class="bd-special-shadow"></div>

  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.url }}">
      <img src="{{ site.url }}/images/logo.png" alt="{{ site.title }}" width="112" height="28">
    </a>

    <a class="navbar-item is-hidden-desktop" href="{{ site.github }}" target="_blank" rel="noopener">
      <span class="icon" style="color: #333;">
        <i class="fa fa-lg fa-github"></i>
      </span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="{{ site.twitter }}" target="_blank" rel="noopener">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-lg fa-twitter"></i>
      </span>
    </a>

    <!--<div id="navbarBurger" class="navbar-burger burger" data-target="navMenu{{ include.id }}">
      <span></span>
      <span></span>
      <span></span>
    </div>-->

    <div class="button_container" id="toggle">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </div>
    
    <div class="overlay" id="overlay">
      <nav class="overlay-menu" data-target="navMenu{{ include.id }}">
        <ul>
          <li ><span></span></li>
          <li ><span></span></li>
          <li ><span></span></li>
          <li ><span></span></li>
        </ul>
      </nav>
    </div>


  </div>
  

  <div id="navMenu{{ include.id }}" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item {% if page.route == 'nutanix' %}is-active{% endif %}" href="/category/nutanix">
        Nutanix
      </a>
      <a class="navbar-item {% if page.route == 'citrix' %}is-active{% endif %}" href="/category/citrix" >
        Citrix
      </a>
      <a class="navbar-item {% if page.route == 'about' %}is-active{% endif %}" href="/about" >
          About Me
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item is-hidden-desktop-only" href="{{ site.github }}" target="_blank" rel="noopener">
        <span class="icon" style="color: #333;">
          <i class="fa fa-lg fa-github"></i>
        </span>
      </a>
      <a class="navbar-item is-hidden-desktop-only" href="{{ site.twitter }}" target="_blank" rel="noopener">
        <span class="icon" style="color: #55acee;">
          <i class="fa fa-lg fa-twitter"></i>
        </span>
      </a>
    </div>
  </div>
  </div>
</nav>
