{% if page.comments == true %}
<section class="section">
  {% if site.repository and site.staticman.branch %}
    {% if site.data.comments[page.slug] %}
      <!-- Start static comments -->
      <div id="comments" class="js-comments">
        <h3 class="tile is-2">
          Comments
        </h3>
        {% assign comments = site.data.comments[page.slug] | where_exp:"item", "item.replying_to == blank" %}
        {% for comment in comments %}
          {% assign index       = forloop.index %}
          {% assign r           = comment.replying_to %}
          {% assign replying_to = r | to_integer %}
          {% assign avatar      = comment.avatar %}
          {% assign email       = comment.email %}
          {% assign name        = comment.name %}
          {% assign url         = comment.url %}
          {% assign date        = comment.date %}
          {% assign message     = comment.message %}
          {% include comment.html index=forloop.index replying_to=replying_to avatar=avatar email=email name=name url=url date=date message=message %}
        {% endfor %}
      </div>
      <!-- End static comments -->
    {% endif %}

    <!-- Start new comment form -->
    <hr>
    <h1 class="title is-4">Leave a Comment</h1>
    <h2 class="subtitle is-6">Your email address will not be published. Required fields are marked <span class="required">*</span></h2>
    <form id="comment-form" class="post_comments-form js-form form" method="post" action="https://api.staticman.net/v2/entry/{{ site.repository }}/{{ site.staticman.branch }}/comments">
      <div class="field">
        <label class="label" for="comment-form-message">Comment<small class="required">*</small> <small>(<a href="https://daringfireball.net/projects/markdown/">Markdown</a> is supported)</small></label>
        <div class="control">
            <textarea class="textarea" placeholder="Add a comment..." type="text" rows="3" id="comment-form-message" name="fields[message]" tabindex="1"></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label" for="comment-form-name">Name<small class="required">*</small></label>
        <div class="control">
            <input class="input" type="text" id="comment-form-name" name="fields[name]" tabindex="2" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="comment-form-email">Email address<small class="required">*</small></label>
        <div class="control">
            <input class="input" type="email" id="comment-form-email" name="fields[email]" tabindex="3" />
        </div>
      </div>
      <div class="field" class="hidden">
        <input type="hidden" name="options[slug]" value="{{ page.slug }}">
        <input type="hidden" name="fields[hidden]"/>
        <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
        <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
        <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
        <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug }}">
      </div>
      <!-- Start comment form alert messaging -->
      <p class="hidden js-notification">
        <span class="js-notification-text"></span>
      </p>
      <!-- End comment form alert messaging -->
      <div class="field">
          <div class="control">
              <button class="button is-link" type="submit" id="comment-form-submit" tabindex="4">Submit</button>
          </div>
      </div>
    </form>
    <!-- End new comment form -->
  {% endif %}
</section>
{% endif %}