<script type="application/ld+json">
    {  
       "@context":"http://schema.org",
       "@type":"BlogPosting",
       "headline":"{{ include.headline }}",
       "genre":"{{ include.category }}",
       "keywords":"{{ include.keywords }}",
       "wordCount":"{{ wordcount }}",
       "url":"https://williambeckett.me/{{ include.link }}",
       "datePublished":"{{ include.date | | date: '%Y-%m-%d' }}",
       "dateModified":"{{ include.modified | | date: '%Y-%m-%d' }}",
       "author":{  
          "@type":"Person",
          "name":"William Beckett",
          "sameAs":[  
            "https://twitter.com/wjbeckett",
            "https://github.com/wjbeckett",
            "https://plus.google.com/+WilliamBeckett87"
          ]
       },
       "publisher":{  
          "@type":"Organization",
          "name":"William Beckett",
          "logo": {
            "@type": "ImageObject",
            "contentUrl": "https://williambeckett.me/images/logo.png",
              "url": "https://williambeckett.me",
          "sameAs":[  
            "https://twitter.com/wjbeckett",
            "https://github.com/wjbeckett",
            "https://plus.google.com/+WilliamBeckett87"
          ]
        },
       },
       "image":{  
          "@type":"ImageObject",
          "contentUrl":"https://williambeckett.me/images/banner.jpg",
          "url":"https://williambeckett.me",
          "height":"450",
          "width":"1000"
       },
       "mainEntityOfPage":{  
          "@type":"WebPage",
          "@id":"https://williambeckett.me/{{ include.link }}"
       },
       "articleBody":"{{ include.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}"
    }
    </script>