---
layout: default
---

<div class="container">
    {% include navbar.html id="Index" transparent=true boxed=true %}
  </div>
  
    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          {% for post in site.categories[page.category] %}
          <article class="column is-9">
            <a href="{{ post.url }}">
              <p class="title is-1 is-spaced has-text-dark" >
                {{ post.name }}
              </p>
              </a>
              <div class="subtitle is-6 has-text-grey-light">
                <span class="fa fa-sm fa-calendar"></span>&nbsp;<em datetime="{{ post.date | date_to_xmlschema }}">
                  {{ post.date | date: '%B %d, %Y' }}
                </em>
                <br/>
                <span class="fa fa-sm fa-clock-o"></span>{% include read_time.html %}
                <br/>
                {% for category in post.categories %}
                <a class="has-text-grey-light is-capitalized" href="/category/{{ category }}">
                  <span class="fa fa-sm fa-tag"></span>&nbsp;<em>{{ category }}</em>
                </a>
                {% endfor %}
              </div>
             <br/>
            <div class="content">
              {{ post.content }}
            </div>
          </article>
          <br/>
          <br/>
          <hr>
          <br/>
          <br/>
          {% endfor %}
        </div>
      </div>
    </section>