---
layout: default
route: blog
---

<!-- Structured Data -->
{% 
  include structuredData.html 
  headline=page.title
  genre=page.category
  keywords=page.keywords
  content=page.content
  link=page.permalink
  date=page.date
  dateModified=page.last_modified_at
%}

<div class="container">
  {% include navbar.html boxed=true %}
</div>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <br/>
        <h1 class="title is-1 has-text-centered has-text-dark" >
          {{ page.name }}
        </h1>
        <br/>
        {% include page-intro.html %}
        <br/>
        <div class="content">
          {{ content }}
        </div>
        <div class="content">
          {% if page.comments == true %}
            {% include comments.html %}
          {% endif %}
          </div>
      </div>
    </div>
  </div>
</section>
