---
layout: default
route: blog
---
<div class="container">
  {% include navbar.html boxed=true %}
</div>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <br/>
        <h1 class="title is-1 has-text-centered has-text-dark" >
          {{ page.name }}
        </h1>
        &nbsp;
        <div class="subtitle is-6 has-text-grey-light has-text-centered">
          <span class="fa fa-calendar"></span><em datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: '%B %d, %Y' }} &nbsp; | &nbsp;
          </em>

          {% for category in page.categories %}
          <a class="has-text-grey-light is-capitalized" href="/category/{{ category }}">
            <em>{{ category }}</em>
          </a>
          {% endfor %}
        </div>
        <br/>
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>
