---
layout: default
route: blog
---

<!-- Structured Data -->
{% 
  include structuredData.html 
  headline=page.title
  genre=page.category
  keywords=page.keywords
  content=page.content
  link=page.permalink
  date=page.date
  dateModified=page.last_modified_at
%}

<div class="container">
  {% include navbar.html boxed=true %}
</div>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <br/>
        <h1 class="title is-1 has-text-centered has-text-dark" >
          {{ page.name }}
        </h1>
        <br/>
        <div class="subtitle is-6 has-text-grey-light">
          <span class="icon has-text-primary"><i class="fa fa-calendar"></i></span>&nbsp;&nbsp;&nbsp;<span datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: '%B %d, %Y' }}
            {% if page.last_modified_at %}
            (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
            {% endif %}
          </span>
          
          <br/>
          <span class="icon has-text-primary"><i class="fa fa-clock-o"></i></span><span>{% include read_time.html %}</span>
          <br/>
          <a class="has-text-grey-light is-capitalized" href="/category/{{ category }}">
            <span class="icon has-text-primary"><i class="fa fa-tag"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span>
            {% for category in page.categories %}
              {{ category }}
            {% endfor %}
            </span>
          </a>
        </div>
        <br/>
        <div class="content">
          {{ content }}
        </div>
      </div>
      <div class="content">
        {% include post__comments.html %}
      </div>
    </div>
  </div>
</section>
